<mat-tab-group>
  <mat-tab label="Data">
    <app-data-settings></app-data-settings>
  </mat-tab>
  <mat-tab label="Time">
    <app-time-settings></app-time-settings>
  </mat-tab>
  <mat-tab label="Display">
    <app-display-settings></app-display-settings>
  </mat-tab>
</mat-tab-group>
<mat-toolbar color="primary">
  <button mat-icon-button [disabled]="!dashboardUndoService.canUndo()" (click)="dashboardUndoService.undo()">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!dashboardUndoService.canRedo()" (click)="dashboardUndoService.redo()">
    <mat-icon>redo</mat-icon>
  </button>
</mat-toolbar>