<mat-tab-group #tabGroup (selectedIndexChange)="onTabChanged($event)" class="tab-group">
  <mat-tab label="Folders">
    <mat-nav-list>
      <mat-list-item *ngFor="let folder of elements.folders; let i = index" [class.active]="i == selectedFolderIndex"
        (click)="onFolderClick(folder)">
        <mat-icon matListIcon class="list-entry-icon">folder</mat-icon>
        <a>{{folder?.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>
  <mat-tab label="{{elements.folders[selectedFolderIndex].name}}">
    <mat-nav-list>
      <mat-list-item *ngFor="let definition of elements.definitions; let i = index" [class.active]="i == selectedDefinitionIndex"
        (click)="onDefinitionClick(definition)">
        <mat-icon matListIcon class="list-entry-icon">dashboard</mat-icon>
        <a>{{definition?.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>
</mat-tab-group>
<mat-toolbar color="primary" class="sidenav-toolbar">
  <button mat-icon-button (click)="addElement()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!canRemove()" (click)="removeElement()">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!canMove(true)" (click)="move(true)">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!canMove(false)" (click)="move(false)">
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [disabled]="!canShowProperties()" (click)="showProperties()">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>