.tab-group {
  position: fixed !important;
  top: 63px;
  height: calc(100% - 45px);
  width: 290px;
}

.divider {
  position: fixed;
  top: 61px;
  width: 290px;
}

.title {
  font-weight: bold;
}

.language {
  margin-right: 4px;
  margin-top: -4px !important;
}

mat-nav-list {
  margin-bottom: 45px;
}

.mat-nav-list .active {
  background: #CFD8DC;
}

.header-toolbar {
  position: fixed !important;
  z-index: 2;
  top: 0px;
  height: 60px !important;
  width: 290px;
  background: white;
}

.footer-toolbar {
  position: fixed !important;
  z-index: 2;
  bottom: 0px;
  height: 45px !important;
  width: 290px;
}

::ng-deep .mat-tab-label, ::ng-deep .mat-tab-label-active{
  min-width: 0 !important;
 }