.tab-group {
  position: fixed !important;
  height: 100%;
  width: 290px;
}

mat-nav-list {
  margin-bottom: 45px;
}

.mat-nav-list .active {
  background: #CFD8DC;
}

.sidenav-toolbar {
  position: fixed !important;
  z-index: 2;
  bottom: 0px;
  height: 45px !important;
  width: 290px;
}

::ng-deep .mat-tab-label, ::ng-deep .mat-tab-label-active{
  min-width: 0 !important;
 }