<mat-nav-list dense>
  <mat-list-item *ngFor="let element of elements" routerLinkActive="active" routerLink="/viewer/{{element.id}}">
    <mat-icon matListIcon class="list-entry-icon">dashboard</mat-icon>
    <a>{{element.name}}</a>
  </mat-list-item>
</mat-nav-list>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="addDefinition()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [disabled]="selectedElementIndex < 0" (click)="removeDefinition()">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button [disabled]="selectedElementIndex <= 0" (click)="move(true)">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <button mat-icon-button [disabled]="selectedElementIndex < 0 || selectedElementIndex === elements.length - 1"
    (click)="move(false)">
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [disabled]="0 === elements.length" (click)="showProperties()">
  <mat-icon>info</mat-icon>
</button>
</mat-toolbar>