<mat-toolbar color="primary" class="content-toolbar">
  <mat-toolbar-row>
    <span>{{activeDashboardService.title}}</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list [cols]="activeDashboardService.columns" rowHeight="fit">
  <mat-grid-tile *ngFor="let tile of activeDashboardService.tiles" [colspan]="tile.columnSpan" [rowspan]="tile.rowSpan">
  </mat-grid-tile>
</mat-grid-list>