<mat-toolbar color="primary" class="content-toolbar">
  <mat-toolbar-row>
    <div class="toolbar-content">
      <span *ngIf="(activeDashboardService$ | async)?.displaySettings.title != ''">{{(activeDashboardService$ | async)?.displaySettings.title}}</span>
      <span *ngIf="(activeDashboardService$ | async)?.displaySettings.title == ''">{{(activeDashboardService$ | async)?.name}}</span>
      <span class="subtitle">{{subtitle}}</span>
    </div>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button matTooltip="Edit Dashboard" *ngIf="!isReadOnly && !isEditing" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Cancel Edits" *ngIf="isEditing" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Done Editing" *ngIf="isEditing" (click)="done()" [disabled]="isEditing && !(activeDashboardService$ | async)?.isDirty">
      <mat-icon>done</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list [cols]="(activeDashboardService$ | async)?.columns" rowHeight="fit">
  <mat-grid-tile *ngFor="let tile of (activeDashboardService$ | async)?.tiles" [colspan]="tile.columnSpan" [rowspan]="tile.rowSpan">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{getSimulatorItem(tile.sourceId).name}}
          <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
        </mat-card-title>
      </mat-card-header>
      <div class="dashboard-card-content">
        <app-control-host [item]="getSimulatorItem(tile.sourceId)"></app-control-host>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>