<mat-toolbar color="primary" class="content-toolbar">
  <mat-toolbar-row>
    <span>{{activeDashboardService.title}}</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="20" rowHeight="fit">
  <mat-grid-tile colspan="5" rowspan="2">1</mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">2</mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">3</mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="2">4</mat-grid-tile>
  <mat-grid-tile colspan="4">5</mat-grid-tile>
  <mat-grid-tile colspan="4">6</mat-grid-tile>
  <mat-grid-tile colspan="4">7</mat-grid-tile>
  <mat-grid-tile colspan="4">8</mat-grid-tile>
  <mat-grid-tile colspan="4">9</mat-grid-tile>
</mat-grid-list>