
.mat-grid-list {
  height: calc(100% - 64px);
}

::ng-deep .mat-card-header-text {
  margin-left: 0px !important;
  margin-top: -4px !important;
}

.mat-card-header {
  display: block !important;
  height: 29px !important;
}

.mat-card-header .mat-card-title {
  font-size: 16px !important;
}

.dashboard-card {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

.more-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dashboard-card-content {
  position: absolute;
  top: 40px;
  left: 5px;
  right: 5px;
  bottom: 5px; 
}
